.loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 4vw; /* Adjust this value as needed. */
    font-weight: bold;
  }
  
  @media (max-width: 600px) {
    .loading-page {
      font-size: 6vw; /* Adjust this value as needed. */
    }
  }
  