.app {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('./world-map.jpeg');
  background-size: 325% 325%; /* This zooms in the map */
  background-position: 100% 30%; /* This sets the initial position to Los Angeles (Adjust accordingly) */
  animation: pan 4s linear infinite; /* This will pan the map faster */
}

.plane {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.3);
  background: url('./plane.png');
  background-size: cover;
}

@keyframes pan {
  0% {
    background-position: 90% 25%; /* This is the position of Los Angeles */
  }
  100% {
    background-position: 0% 45%; /* This is the position of Hong Kong */
  }
}
